{% extends 'base.html.twig' %}

{% block title %} Edit Pin #{{ pin.id }} {% endblock %}

{% block body %}

        <h1>Edit Pin #{{pin.id}}</h1>
         {{ form_start(monFormulaire) }}
            {{form_widget(monFormulaire)}}
            <input type="submit" value="Update Pin">
         {{ form_end(monFormulaire) }}

{% endblock %}
